* {
	margin:0;
}

/* DIV */

img {
    border-radius: 8px;
}

img.small {
	width:426px;
	height:auto;
}

img.medium {
	width:854px;
	height:auto;
}

img.large {
	width:1280px;
	height:auto;
}

/* Hover */

.hover:hover {
	transition:0.1s;
	transform: scale(0.99);	
}

/* Effects */

.blur {
	-webkit-filter: url(#svg-blur);
}

.blur:hover {
	filter:none;
	border-radius: 0px !important;
}
